.vanta-mobile-bg {
    display: none;
  }
  
  @media (max-width: 768px) {
    .vanta-mobile-bg {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: -1;
    }
  }
  