.contact-section {
    padding: 80px 20px;

    color: white;
    text-align: center;
    font-family: 'Outfit', sans-serif;
  }
  
  .contact-title {
    font-size: 2.8rem;
    color: white;
    margin-bottom: 10px;
  }
  
  .contact-subtitle {
    font-size: 1.2rem;
    margin-bottom: 40px;
    color: #ccc;
  }
  
  .contact-form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 14px;
    background-color: #1e1e1e;
    color: white;
    border: 1px solid #444;
    border-radius: 8px;
    font-size: 1rem;
    resize: none;
  }
  
  .contact-form button {
    background: linear-gradient(267deg, #DA7C25, #B923E1);
    color: white;
    padding: 14px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .contact-form button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 12px #DA7C25;
  }
  @media (max-width: 768px){
    .contact-form button{
      background: linear-gradient(267deg, #FF474D, #90D5FF);
    }
  }
  